@model IEnumerable<restaurante.Models.detalle_orden>
<link rel="stylesheet" href="~/Content/tablas.css">
@{
    ViewBag.Title = "Kitchen";
}

<h2>Kitchen</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orden.n_mesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orden.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orden.estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orden.n_mesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orden.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producto.nombre)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.orden.estado)
            </th>
            <td>
            </td>
        </tr>
    }

</table>

